<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcsquad.ilogistics.mapper.storage.ItemMapper">
    <select id="getItemListByCategoryId" parameterType="String" resultType="Item">
        select itemid, cid as categoryId, name, unitcost, listprice, descn, img as imgUrl, status
        from item
        where cid = #{categoryId}
    </select>

    <select id="getItemInventoryByWarehouseId" resultType="ItemInventoryResp">
        select  item.itemid      as "item.itemId",
                cid         as "item.categoryId",
                name        as "item.name",
                unitcost    as "item.unitCost",
                listprice   as "item.listPrice",
                descn       as "item.descn",
                img         as "item.imgUrl",
                status      as "item.status",
                num         as inventory
        from item,inventory
        where item.itemid = inventory.itemid and warehouseid=#{warehouseId}
    </select>

    <select id="getItem" parameterType="String" resultType="Item">
        select itemid, cid as categoryId, name, unitcost, listprice, descn, img as imgUrl, status
        from item
        where itemid = #{itemId}
    </select>
    <insert id="insertItem" parameterType="Item">
        insert into item(itemid, cid, name, unitcost, listprice, descn, img, status)
        values
            (#{itemId} #{categoryId}, #{name}, #{unitcost}, #{listprice}, #{descn}, #{imgUrl}, #{status})
    </insert>

    <update id="updateItemStatus">
        update item
        set status = #{status}
        where itemid = #{itemId}
    </update>

    <update id="updateItem">
        update item
        set
           listprice = #{listPrice},
           descn = #{descn},
           img = #{imgUrl}
        where itemid = #{itemId}
    </update>
</mapper>