<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcsquad.ilogistics.mapper.order.OrderMapper">
    <select id="getOrders" resultType="Order">
         select
            orderid,
            customerid,
            createdate as "createDateTime",
            payDate as "payDateTime",
            deliveryDate as "deliveryDateTime",
            billname,
            billpro,
            billcity,
            billdis as "billDistrict",
            billaddr,
            totalprice,
            shippingcost,
            paymethod,
            note,
            processstatus
        from orders,orderstatus
        where orders.orderid = orderstatus.orderid
        order by createdate
    </select>
    <select id="getOrder" resultType="Order">
        select
            orders.orderid,
            customerid,
            linenum as lineNum,
            createdate as createDateTime,
            payDate as payDateTime,
            deliveryDate as deliveryDateTime,
            billname,
            billpro,
            billcity,
            billdis as billDistrict,
            billaddr,
            totalprice,
            shippingcost,
            paymethod,
            note,
            paystatus,
            processstatus
        from orders,orderstatus
        where orders.orderid = orderstatus.orderid and orders.orderid = #{orderId}
        order by createdate
    </select>

    <insert id="insertOrder" parameterType="Order">
        insert into orders
            (orderid, customerid, createdate, paydate, deliverydate,billname,billpro,billcity,billdis,
            billaddr, totalprice, shippingcost, paymethod, note)
        values
            (#{orderId}, #{customerId}, #{createDateTime}, #{payDateTime}, #{deliveryDateTime}, #{billName}, #{billPro},
             #{billCity}, #{billDistrict}, #{billAddr}, #{totalPrice}, #{shippingCost}, #{payMethod},#{note})
    </insert>
    
    <insert id="insertOrderStatus" parameterType="Order">
        insert into orderstatus
            (orderid, linenum, createtime, paystatus, processstatus)
        values
            (#{orderId}, #{lineNum}, #{createDateTime}, #{payStatus}, #{processStatus})
    </insert>
    <update id="updateProcessStatus" parameterType="Order">
        update orderstatus
        set
            processstatus = #{processStatus}
        where orderid = #{orderId}
    </update>
    <update id="updatePayStatus" parameterType="Order">
        update orderstatus
        set
            payStatus = #{payStatus}
        where orderid = #{orderId}
    </update>
    <delete id="deleteOrderByOrderId">
        delete from orders,orderstatus
        where orderid = #{orderId}
    </delete>
    <update id="updateShippingCost" parameterType="Order">
        update orders
        set
            shippingcost = #{shippingCost}
        where orderid = #{orderId}
    </update>
    <select id="hasOrder" resultType="boolean">
        select count(*)
        from orders
        where orderid = #{orderId}
    </select>

    <select id="getOrderBriefsByReq" resultType="OrderBriefResp">
         select
            orders.orderid,
            createdate as "createDateTime",
            billname,
            totalprice,
            processstatus
        from orders,orderstatus
        where orders.orderid = orderstatus.orderid
        and date(createdate) between #{dateFrom} and #{dateTo}
        <if test="billName != null and billName != ''">
            and billname like '%${billName}%'
        </if>
        <if test="processStatus != null and processStatus != ''">
            and processstatus = UPPER(#{processStatus})
        </if>
        <if test="orderId != null and orderId != ''">
            and orders.orderId = #{orderId}
        </if>
        order by createdate
    </select>
</mapper>