<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcsquad.ilogistics.mapper.order.OrderItemMapper">
    <insert id="insertOrderItem" parameterType="OrderItem">
        insert into orderitem
            (orderid, itemid, taskid, itemnum, status, total)
        values
            (#{orderId}, #{itemId}, #{taskId}, #{itemNum}, #{status}, #{total})
    </insert>

    <select id="getOrderItemsByOrderId" resultType="OrderItem">
        select
            orderid,
            orderitem.itemid as "itemId",
            taskid,
            itemnum,
            orderitem.status as "status",
            total,
            item.itemid as "item.itemId",
            cid as "item.categoryId",
            name as "item.name",
            unitcost as "item.unitCost",
            listprice as "item.listPrice",
            descn as "item.descn",
            img as "item.imgUrl",
            item.status as "item.status"
        from orderitem join item on orderitem.itemid = item.itemid
        where orderid = #{orderId}
    </select>

    <select id="getOrderItemByTaskId" resultType="OrderItem">
        select
            orderid, itemid, taskid, itemnum, status, total
        from orderitem
        where taskid = #{taskId}
    </select>

    <update id="updateOrderItemStatus" parameterType="OrderItem">
        update orderitem
        set
            status = #{status}
        where orderid = #{orderId} and itemid = #{itemId}
    </update>

    <update id="updateOrderItemTaskId" parameterType="OrderItem">
        update orderitem
        set
            taskid = #{taskId}
        where orderid = #{orderId} and itemid = #{itemId}
    </update>
</mapper>