<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcsquad.ilogistics.mapper.order.ReturnFormMapper">
    <select id="getReturnForms" resultType="ReturnForm">
        select
              rfid as returnFormId,
              orderid as orderId,
              itemid as itemId,
              itemnum as itemNum,
              returnmoney as returnMoney,
              applytime as applyTime,
              processtime as processTime,
              reason,
              status
        from returnform
        where ischange = 0
        order by applytime
    </select>
    <select id="getChangeForms" resultType="ReturnForm">
        select
              rfid as returnFormId,
              orderid as orderId,
              itemid as itemId,
              itemnum as itemNum,
              applytime as applyTime,
              processtime as processTime,
              reason,
              status
        from returnform
        where ischange = 1
        order by applytime
    </select>
    <select id="getReturnFormByFormId" resultType="ReturnForm">
        select
              rfid as returnFormId,
              orderid as orderId,
              itemid as itemId,
              itemnum as itemNum,
              returnmoney as returnMoney,
              applytime as applyTime,
              processtime as processTime,
              reason,
              status
        from returnform
        where rfid = #{formId} and ischange = 0
        order by applytime
    </select>
    <select id="getReturnFormByOrderId" resultType="ReturnForm">
        select
              rfid as returnFormId,
              orderid as orderId,
              itemid as itemId,
              itemnum as itemNum,
              returnmoney as returnMoney,
              applytime as applyTime,
              processtime as processTime,
              reason,
              status
        from returnform
        where orderid = #{orderId} and ischange = 0
        order by applytime
    </select>
    <select id="getChangeFormByFormId" resultType="ReturnForm">
        select
              rfid as returnFormId,
              orderid as orderId,
              itemid as itemId,
              itemnum as itemNum,
              applytime as applyTime,
              processtime as processTime,
              reason,
              status
        from returnform
        where rfid = #{formId} and ischange = 1
        order by applytime
    </select>
    <select id="getChangeFormByOrderId" resultType="ReturnForm">
        select
              rfid as returnFormId,
              orderid as orderId,
              itemid as itemId,
              itemnum as itemNum,
              applytime as applyTime,
              processtime as processTime,
              reason,
              status
        from returnform
        where rfid = #{orderId} and ischange = 1
        order by applytime
    </select>
    <insert id="insertReturnForm">
        insert into returnform
            (rfid, orderid, ischanged, itemid, itemnum, returnmoney, applytime, processtime, reason, status)
        values
            (#{formId}, #{orderId}, #{isChanged}, #{itemId}, #{itemNum},#{returnMoney}, #{applyTime}, #{processTime},
             #{reason}, #{status})

    </insert>

    <update id="updateReturnFormStatus">
        update returnform
        set
             status = #{status}
        where rfid = #{formId}
    </update>

    <delete id="deleteReturnForm">
        delete from returnform
        where rfid = #{formId}
    </delete>
</mapper>