<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcsquad.ilogistics.mapper.ReturnFormMapper">
    <select id="getReturnForms" resultType="ReturnForm">
        select
              rfid as returnFormId,
              orderid as orderId,
              itemid as itemId,
              itemnum as itemNum,
              returnmoney as returnMoney,
              applytime as applyTime,
              processtime as processTime,
              reason,
              status
        from returnform
        where ischange = 0
    </select>
</mapper>