<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcsquad.ilogistics.mapper.clientele.SupplierMapper">
    <select id="getSuppliers" resultType="Supplier">
        select
             sid as supplierId,
             brandname,
             manager as managerName,
             tel,
             email,
             province,
             city,
             district,
             addr
        from supplier
    </select>

    <select id="getSupplierBySupplierId" resultType="Supplier">
        select
             sid as supplierId,
             brandname,
             manager as managerName,
             tel,
             email,
             province,
             city,
             district,
             addr
        from supplier
        where sid = #{supplierId}
    </select>
    <insert id="insertSupplier" parameterType="Supplier">
        insert into supplier(sid, brandname, manager, tel, email, province, city, district, addr)
        values
            (#{supplierId}, #{brandName}, #{managerName}, #{tel}, #{email}, #{province}, #{city},
             #{district}, #{addr})
    </insert>
    <update id="updateSupplier" parameterType="Supplier">
        update supplier
        set
           manager = #{managerName},
           brandname = #{brandName},
           tel = #{tel},
           email = #{email},
           province = #{province},
           city = #{city},
           district = #{district},
           addr = #{addr}
        where sid = #{supplierId}
    </update>

    <delete id="deleteSupplier">
        delete from supplier
        where sid = #{supplierId}
    </delete>

    <select id="hasSupplier" resultType="boolean">
        select count(*)
        from supplier
        where sid = #{supplierId}
    </select>

    <insert id="insertItemSupply">
        insert into itemsupply(supplierid, itemid, status)
        values
              (#{supplierId}, #{item.itemId}, #{item.status})
    </insert>

    <select id="getItemSupplyListBySupplierId" parameterType="String" resultType="String">
        select itemid
        from itemsupply
        where supplierid = #{supplierId}
    </select>
</mapper>