<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcsquad.ilogistics.mapper.order.TaskFormMapper">
    <select id="getTaskFormsByOrderId" resultType="TaskForm">
        select
            taskid,
            orderid,
            subsiteid,
            shipname,
            shiptel,
            shippro,
            shipcity,
            shipdis,
            billname,
            billtel,
            billpro,
            billcity,
            billdis,
            courier,
            totalprice,
            status,
            note
        from taskform
        where orderid = #{orderId}
    </select>
    <select id="getTaskForm" resultType="TaskForm">
        select
            taskid,
            orderid,
            subsiteid,
            shipname,
            shiptel,
            shippro,
            shipcity,
            shipdis,
            billname,
            billtel,
            billpro,
            billcity,
            billdis,
            courier,
            totalprice,
            status,
            note
        from taskform
        where taskid = #{taskId}
    </select>

    <select id="getTaskFormsBySubSiteId" parameterType="String" resultType="TaskForm">
        select
            taskid,
            orderid,
            subsiteid,
            shipname,
            shiptel,
            shippro,
            shipcity,
            shipdis,
            billname,
            billtel,
            billpro,
            billcity,
            billdis,
            courier,
            totalprice,
            status,
            note
        from taskform
        where subsiteid = #{subsiteId}
    </select>

    <select id="getTaskForms" resultType="TaskForm">
        select
            taskid,
            orderid,
            subsiteid,
            shipname,
            shiptel,
            shippro,
            shipcity,
            shipdis,
            billname,
            billtel,
            billpro,
            billcity,
            billdis,
            courier,
            totalprice,
            status,
            note
        from taskform
    </select>

    <select id="searchTaskForms" parameterType="String" resultType="TaskForm">
        select
            taskid,
            orderid,
            subsiteid,
            shipname,
            shiptel,
            shippro,
            shipcity,
            shipdis,
            billname,
            billtel,
            billpro,
            billcity,
            billdis,
            courier,
            totalprice,
            status,
            note
        from taskform
        where
            1 = 1
            <if test="keyword != null and keyword != ''">
            and concat(taskid,',',orderid,',',subsiteid,',',shipname,',',shiptel,',',shippro,',',shipcity,',',shipdis,',',billname,',',billtel,',',billpro,',',billcity,',',billdis,',',courier,',',totalprice,',',status, ifnull(note,''))
                like concat ('%', #{keyword},'%')
            </if>
    </select>

    <insert id="insertTaskForm" parameterType="TaskForm">
        insert into taskform
           (taskid, orderid, subsiteid, shipname, shiptel, shippro, shipcity, shipdis, shipaddr, billname,
            billtel, billpro, billcity, billdis, billaddr, courier, totalprice, status, note)
        values
           (#{taskId}, #{orderId}, #{subSiteId}, #{shipName}, #{shipTel}, #{shipPro}, #{shipCity},
            #{shipDis}, #{shipAddr}, #{billName}, #{billTel}, #{billPro}, #{billCity}, #{billDis},
            #{billAddr}, #{courier}, #{totalPrice}, #{status}, #{note})
    </insert>

    <update id="updateTaskFormStatus">
        update taskform
        set status = #{status}
        where taskid = #{taskId}
    </update>

    <delete id="deleteTaskForm">
        delete from taskform
        where taskid = #{taskId}
    </delete>
    <delete id="deleteTaskFormsByOrderId">
        delete from taskform
        where orderid = #{orderId}
    </delete>

</mapper>