<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcsquad.ilogistics.mapper.order.TaskFormMapper">
    <select id="getTaskFormsByOrderId" resultType="TaskForm">
        select
            taskid,
            orderid,
            subsiteid,
            shipname,
            shiptel,
            shippro,
            shipcity,
            shipdis,
            billname,
            billtel,
            billpro,
            billcity,
            billdis,
            courier,
            totalprice,
            status,
            note,
            shiptime as deliveryDateTime
        from taskform
        where orderid = #{orderId}
    </select>
    <select id="getTaskForm" resultType="TaskForm">
        select
            taskid,
            orderid,
            subsiteid,
            shipname,
            shiptel,
            shippro,
            shipcity,
            shipdis,
            billname,
            billtel,
            billpro,
            billcity,
            billdis,
            courier,
            totalprice,
            status,
            note,
            shiptime as deliveryDateTime
        from taskform
        where taskid = #{taskId}
    </select>

    <select id="getTaskFormsBySubSiteId" parameterType="String" resultType="TaskForm">
        select
            taskid,
            orderid,
            subsiteid,
            shipname,
            shiptel,
            shippro,
            shipcity,
            shipdis,
            billname,
            billtel,
            billpro,
            billcity,
            billdis,
            courier,
            totalprice,
            status,
            note,
            shiptime as deliveryDateTime
        from taskform
        where subsiteid = #{subsiteId}
    </select>

    <select id="getTaskForms" resultType="TaskForm">
        select
            taskid,
            orderid,
            subsiteid,
            shipname,
            shiptel,
            shippro,
            shipcity,
            shipdis,
            billname,
            billtel,
            billpro,
            billcity,
            billdis,
            courier,
            totalprice,
            status,
            note,
            shiptime as deliveryDateTime
        from taskform
    </select>

    <select id="searchTaskForms" resultType="TaskForm">
        select
            taskid,
            orderid,
            subsiteid,
            shipname,
            shiptel,
            shippro,
            shipcity,
            shipdis,
            billname,
            billtel,
            billpro,
            billcity,
            billdis,
            courier,
            totalprice,
            status,
            note,
            shiptime as deliveryDateTime
        from taskform
        where
            1 = 1
            <if test="keyword != null and keyword.length > 0">
            and
                <foreach collection="keyword" item="keyword" open="(" close=")" separator="or">
                    concat(taskid,',',orderid,',',subsiteid,',',shipname,',',shiptel,',',shippro,',',shipcity,',',shipdis,',',billname,',',billtel,',',billpro,',',billcity,',',billdis,',',courier,',',totalprice,',',status, ifnull(note,''),','ifnull(shiptime,''))
                    like concat ('%', #{keyword},'%')
                </foreach>

            </if>

    </select>

    <select id="getTaskFormsByStatus" parameterType="String" resultType="TaskForm">
        select
            taskid,
            orderid,
            subsiteid,
            shipname,
            shiptel,
            shippro,
            shipcity,
            shipdis,
            billname,
            billtel,
            billpro,
            billcity,
            billdis,
            courier,
            totalprice,
            status,
            note,
            shiptime as deliveryDateTime
        from taskform
        where status = #{status}
    </select>

    <select id="getTaskFormsBySubsiteAndStatus" resultType="TaskForm">
         select
            taskid,
            orderid,
            subsiteid,
            shipname,
            shiptel,
            shippro,
            shipcity,
            shipdis,
            billname,
            billtel,
            billpro,
            billcity,
            billdis,
            courier,
            totalprice,
            status,
            note,
            shiptime as deliveryDateTime
        from taskform
        where subsiteid = #{subSiteId}
              and
              status = #{status}
    </select>

    <select id="getTaskFormsBySubsiteAndKeyword" resultType="TaskForm">
        select
            taskid,
            orderid,
            subsiteid,
            shipname,
            shiptel,
            shippro,
            shipcity,
            shipdis,
            billname,
            billtel,
            billpro,
            billcity,
            billdis,
            courier,
            totalprice,
            status,
            note,
            shiptime as deliveryDateTime
        from taskform
        where subsiteid = #{subSiteId}
            <if test="keyword != null and keyword.length > 0">
                and
                 <foreach collection="keyword" item="keyword" open="(" close=")" separator="or">
                     concat(taskid,',',orderid,',',subsiteid,',',shipname,',',shiptel,',',shippro,',',shipcity,',',shipdis,',',billname,',',billtel,',',billpro,',',billcity,',',billdis,',',courier,',',totalprice,',',status, ifnull(note,''),','ifnull(shiptime,''))
                     like concat ('%', #{keyword},'%')
                 </foreach>
            </if>
    </select>

    <select id="countTaskFormsByStatus" parameterType="String" resultType="java.lang.Integer">
        select count(*)
        from taskform
        where status = #{status}
    </select>

    <insert id="insertTaskForm" parameterType="TaskForm">
        insert into taskform
           (taskid, orderid, subsiteid, shipname, shiptel, shippro, shipcity, shipdis, shipaddr, billname,
            billtel, billpro, billcity, billdis, billaddr, courier, totalprice, status, note, shiptime)
        values
           (#{taskId}, #{orderId}, #{subSiteId}, #{shipName}, #{shipTel}, #{shipPro}, #{shipCity},
            #{shipDis}, #{shipAddr}, #{billName}, #{billTel}, #{billPro}, #{billCity}, #{billDis},
            #{billAddr}, #{courier}, #{totalPrice}, #{status}, #{note}, #{deliveryDateTime})
    </insert>

    <update id="updateTaskFormStatus">
        update taskform
        set status = #{status}
        where taskid = #{taskId}
    </update>

    <delete id="deleteTaskForm">
        delete from taskform
        where taskid = #{taskId}
    </delete>
    <delete id="deleteTaskFormsByOrderId">
        delete from taskform
        where orderid = #{orderId}
    </delete>
    <update id="insertTaskId" parameterType="java.util.List">
        <if test="list!= null">
            <foreach collection="list" item="orderItem" index= "index" open="(" close=")" separator =";">
                update orderitem
                set
                    taskid = #{orderItem.taskId}
                where orderid = #{orderItem.orderId} and itemid = #{orderItem.itemId}
            </foreach>
        </if>
    </update>
    <select id="getTaskItemsByTaskId" parameterType="Long">
        select
            orderid, itemid, taskid, itemnum, status, total
        from orderitem
        where taskid = #{taskId}
    </select>
</mapper>