<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcsquad.ilogistics.mapper.order.TaskFormMapper">
    <resultMap id="taskFormResult" type="TaskForm">
        <id column="taskid" property="taskId"/>
        <result column="orderid" property="orderId"/>
        <result column="subsiteid" property="subSiteId"/>
        <result column="shiptime" property="deliveryDateTime"/>
        <result column="shipname" property="shipName"/>
        <result column="shiptel" property="shipTel"/>
        <result column="shippro" property="shipPro"/>
        <result column="shipcity" property="shipCity"/>
        <result column="shipdis" property="shipDis"/>
        <result column="shipaddr" property="shipAddr"/>
        <result column="billname" property="billName"/>
        <result column="billtel" property="billTel"/>
        <result column="billpro" property="billPro"/>
        <result column="billcity" property="billCity"/>
        <result column="billdis" property="billDis"/>
        <result column="billaddr" property="billAddr"/>
        <result column="courier" property="courier"/>
        <result column="totalprice" property="totalPrice"/>
        <result column="status" property="status"/>
        <result column="note" property="note"/>
        <collection property="orderItems" javaType="list" ofType="OrderItem">
            <id column="orderid" property="orderId"/>
            <id column="taskid" property="taskId"/>
            <id column="itemid" property="itemId"/>
            <result column="itemnum" property="itemNum"/>
            <result column="status" property="status"/>
            <result column="total" property="total"/>
            <association property="item" javaType="Item">
                <id column="itemid" property="itemId"/>
                <id column="cid" property="categoryId"/>
                <result column="name" property="name"/>
                <result column="unitcost" property="unitCost"/>
                <result column="listprice" property="listPrice"/>
                <result column="descn" property="descn"/>
                <result column="img" property="imgUrl"/>
                <result column="status" property="status"/>
            </association>
        </collection>
    </resultMap>
    
    <select id="getTaskFormsByOrderId" resultMap="taskFormResult">
        select *
        from taskform, orderitem, item
        where taskform.orderid = #{orderId} and taskform.taskid = orderitem.taskid and orderitem.itemid = item.itemid
    </select>
    <select id="getTaskForm" resultMap="taskFormResult">
        select *
        from taskform, orderitem, item
        where taskform.taskid = #{taskId} and taskform.taskid = orderitem.taskid and orderitem.itemid = item.itemid
    </select>

    <select id="getTaskFormsBySubSiteId" parameterType="String" resultMap="taskFormResult">
        select *
        from taskform, orderitem, item
        where taskform.subsiteid = #{subsiteId} and taskform.taskid = orderitem.taskid and orderitem.itemid = item.itemid
    </select>

    <select id="getTaskForms" resultMap="taskFormResult">
        select *
        from taskform, orderitem, item
        where taskform.taskid = orderitem.taskid and orderitem.itemid = item.itemid
    </select>

    <select id="searchTaskForms" resultMap="taskFormResult">
        select *
        from taskform, orderitem, item
        where
            1 = 1
            and taskform.taskid = orderitem.taskid and orderitem.itemid = item.itemid
            <if test="keyword != null and keyword.length > 0">
            and
                <foreach collection="keyword" item="keyword" open="(" close=")" separator="or">
                    concat(taskform.taskid,',',taskform.orderid,',',subsiteid,',',shipname,',',shiptel,',',shippro,',',shipcity,',',shipdis,',',billname,',',billtel,',',billpro,',',billcity,',',billdis,',',courier,',',totalprice,',',taskform.status)
                    like concat ('%', #{keyword},'%')
                </foreach>

            </if>
    </select>

    <select id="getTaskFormsByStatus" parameterType="String" resultMap="taskFormResult">
        select *
        from taskform, orderitem, item
        where taskform.status = #{status} and taskform.taskid = orderitem.taskid and orderitem.itemid = item.itemid
    </select>

    <select id="getTaskFormsBySubsiteAndStatus" resultMap="taskFormResult">
        select *
        from taskform, orderitem, item
        where
             taskform.taskid = orderitem.taskid and orderitem.itemid = item.itemid
              and taskform.subsiteid = #{subSiteId} and taskform.status = #{status}
    </select>

    <select id="getTaskFormsBySubsiteAndKeyword" resultMap="taskFormResult">
        select *
        from taskform, orderitem, item
        where
            taskform.subsiteid = #{subSiteId}
            and taskform.taskid = orderitem.taskid
            and orderitem.itemid = item.itemid
            <if test="keyword != null and keyword.length > 0">
                and
                 <foreach collection="keyword" item="keyword" open="(" close=")" separator="or">
                     concat(taskform.taskid,',',taskform.orderid,',',subsiteid,',',shipname,',',shiptel,',',shippro,',',shipcity,',',shipdis,',',billname,',',billtel,',',billpro,',',billcity,',',billdis,',',courier,',',totalprice,',',taskform.status)
                     like concat ('%', #{keyword},'%')
                 </foreach>
            </if>
    </select>

    <select id="countTaskFormsByStatus" parameterType="String" resultType="java.lang.Integer">
        select count(*)
        from taskform
        where status = #{status}
    </select>

    <insert id="insertTaskForm" parameterType="TaskForm">
        insert into taskform
           (taskid, orderid, subsiteid, shipname, shiptel, shippro, shipcity, shipdis, shipaddr, billname,
            billtel, billpro, billcity, billdis, billaddr, courier, totalprice, status, note, shiptime)
        values
           (#{taskId}, #{orderId}, #{subSiteId}, #{shipName}, #{shipTel}, #{shipPro}, #{shipCity},
            #{shipDis}, #{shipAddr}, #{billName}, #{billTel}, #{billPro}, #{billCity}, #{billDis},
            #{billAddr}, #{courier}, #{totalPrice}, #{status}, #{note}, #{deliveryDateTime})
    </insert>

    <update id="updateTaskFormStatus">
        update taskform
        set status = #{status}
        where taskid = #{taskId}
    </update>

    <delete id="deleteTaskForm">
        delete from taskform
        where taskid = #{taskId}
    </delete>
    <delete id="deleteTaskFormsByOrderId">
        delete from taskform
        where orderid = #{orderId}
    </delete>
    <update id="insertTaskId" parameterType="java.util.List">
        <if test="list!= null">
            <foreach collection="list" item="orderItem" index= "index" open="(" close=")" separator =";">
                update orderitem
                set
                    taskid = #{orderItem.taskId}
                where orderid = #{orderItem.orderId} and itemid = #{orderItem.itemId}
            </foreach>
        </if>
    </update>
    <update id="updateTaskForm" parameterType="TaskForm">
        update taskform
        set
            subsiteid = #{subSiteId},
            shipname = #{shipName},
            shiptel = #{shipTel},
            shipaddr = #{shipAddr},
            shipdis = #{shipDis},
            shipcity = #{shipCity},
            shippro = #{shipPro},
            courier = #{courier},
            totalprice = #{totalPrice},
            status = #{status},
            note = #{note},
            shiptime = #{deliveryDateTime}
        where taskid = #{taskId}
    </update>
    <select id="getTaskItemsByTaskId" parameterType="Long" resultType="OrderItem">
        select
            orderid, itemid, taskid, itemnum, status, total
        from orderitem
        where taskid = #{taskId}
    </select>
</mapper>