<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcsquad.ilogistics.mapper.storage.WarehouseMapper">
    <select id="getWarehouseInfoListByMainsiteId" resultType="WarehouseResp">
        select  inventory.warehouseid as warehouseId,
                count(itemid) as kindNumOfItem,
                sum(num) as totalSize,
                avg(maxsize) as maxSize
        from inventory,warehouse
        where   inventory.warehouseid = warehouse.warehouseid
            and warehouse.mainsiteid = #{mainsiteid}
        group by inventory.warehouseid
    </select>

    <select id="getCategoryByWarehouseId" resultType="Category">
        select  cid as categoryId,name,descn
        from warehouse,category
        where warehouseid = #{warehouseId} and warehouse.categoryid=category.cid
    </select>

    <select id="getItemListByWarehouseId" resultType="Item">
        select itemid
        from inventory
        where warehouseid = #{warehouseId}
    </select>

    <select id="getItemsInventoryByWarehouseId" resultType="Map">
        select itemid, num
        from inventory
        where warehouseid = #{warehouseId}
    </select>

    <select id="getInventoryByItemIdAndWarehouseId" resultType="Inventory">
        select  itemid as itemId,
                warehouseid as warehouseId,
                num as itemNum,
                logicinventory as logicInventory
        from inventory
        where itemid=#{itemId} and warehouseid=#{warehouseId}
    </select>

    <update id="updateInventoryByWarehouseIdAndItemId" parameterType="Inventory">
        update inventory
        set num = #{itemNum},logicinventory=#{logicInventory}
        where
            warehouseid = #{warehouseId} and itemid = #{itemId}
    </update>

    <select id="getWarehouseIdsByItemAndMainsite" resultType="String">
        select warehouseid as warehouseId
        from warehouse,item
        where
                item.itemid = #{itemId}
            and item.cid = warehouse.categoryid
            and mainsiteid = #{warehouseId}
    </select>

    <select id="getWarehouseOptionsToCheckout" resultType="String">
        select warehouse.warehouseid as warehouseId
        from warehouse,item,inventory
        where
                item.itemid = inventory.itemid
            and item.cid = warehouse.categoryid
            and warehouse.warehouseid = inventory.warehouseid
            and mainsiteid = #{mainsiteId}
            and item.itemid = #{itemId}
            and inventory.num >= #{itemNum}
    </select>

    <select id="getWarehouseOptionsToCheckin" resultType="String">
        select warehouse.warehouseid as warehouseId
        from warehouse,item
        where   item.cid = warehouse.categoryid
            and item.itemid = #{itemId}
			and mainsiteid = #{mainsiteId}
			and exists (select inventory.warehouseid
                from inventory
				where inventory.warehouseid = warehouse.warehouseid
                group by inventory.warehouseid
				having max(maxsize) - sum(num) >= #{itemNum})
    </select>

    <insert id="insertInventoryOfItem" parameterType="Inventory">
        insert into inventory(warehousid,itemid,num,logicinventory)
        values(#{warehouseId},#{itemId},#(itemNum),#(itemNum))
    </insert>


    <select id="getMainsiteInventorysByItemId" resultType="MainsiteInventory">
        select  warehouse.mainsiteid as mainsiteId,
                sum(inventory.num) as itemInventory
        from warehouse,item,inventory
        where
                item.itemid = inventory.itemid
            and item.cid = warehouse.categoryid
            and warehouse.warehouseid = inventory.warehouseid
            and item.itemid = #{itemId}
        group by warehouse.mainsiteid
    </select>

    <select id="getInventoryListByItemAndMainsite" resultType="Inventory">
        select  itemid as itemId,
                warehouseid as warehouseId,
                num as itemNum,
                logicinventory as logicInventory
        from warehouse,item
        where
                item.itemid = #{itemId}
            and item.cid = warehouse.categoryid
            and mainsiteid = #{warehouseId}
    </select>


</mapper>