<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcsquad.ilogistics.mapper.storage.WarehouseMapper">
    <select id="getWarehouseRespByMainSiteId" resultType="WarehouseResp">
        select warehouseid, mainsiteid as siteId, categoryid, maxsize,
        from warehouse
        where mainsiteid = #{mainSiteId}
    </select>

    <select id="getWarehouseRespByWarehouseId" resultType="WarehouseResp">
        select count(itemid) as kindOfItem, sum(num) as totalSize
        from inventory
        where warehouseid = #{warehouseId}
    </select>

    <select id="getItemListByWarehouseId" resultType="Item">
        select itemid
        from inventory
        where warehouseid = #{warehouseId}
    </select>

    <select id="getItemsInventoryByWarehouseId" resultType="Map">
        select itemid, num
        from inventory
        where warehouseid = #{warehouseId}
    </select>

</mapper>